<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ball.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {24, 24}}</string>
			<key>offset</key>
			<string>{0.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>hole.png</key>
		<dict>
			<key>frame</key>
			<string>{{26, 1}, {26, 27}}</string>
			<key>offset</key>
			<string>{0, -0.5}</string>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {26, 27}}</string>
			<key>sourceSize</key>
			<string>{28, 28}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
